*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}
header{
    background-color: tomato;
    flex-grow: 1;
    width: 100%;
}
main{
    background-color: green;
    flex-grow: 2;
    height: 51%;
    width: 100%;
}
footer{
    background-color: #8B008B;
    flex-grow: 1;
    width: 100%;
}
.format{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
}